.cart-item {
  padding: 20px;

  &_img {
    // padding: 20px;
    img {
    }
  }
  &_des {
    gap: 20px;
    .product-title {
      font-size: 20px;
      font-weight: 500;
    }
    .product-des {
      color: #333333;
      font-weight: 300;
    }
  }
  &_price {
    font-size: 16px;
    font-weight: 500;
  }
  .action-box_count {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &_decrease {
      width: 32px;
      height: 32px;
      font-size: 13px;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }
    &_increase {
      width: 32px;
      font-size: 13px;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }
    &_number {
      //   padding: 0 20px;
      color: #606266;
      cursor: pointer;
      width: 80px;
    }
  }
  .action-box_del {
    margin-left: 8px;
    height: 32px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    width: 50px;
    border-radius: 4px;
    &_icon {
      color: #000;
      font-size: 16px;
    }
  }
  .form-check-input {
    cursor: pointer;
  }
}
